@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Alumni Sans", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
}